section.hero-section
  div.hero-section-container
    p.hero-section-quote Beyond Boundaries
    p.hero-section-headline
      | Stories, Thinking, and Expertise from Every Corner
    p.hero-language English Newsletter
    a.hero-section-start-reading-button(href='#') Start Reading