.trending-home-element
        .trending-home-element-flex
          div
            p
              a.trending-home-element-flex-creator-name(href='#')
                | Minko Gechev
            p
              a.trending-home-element-flex-blog(href='#')
                | Introducing Angular v17
            .trending-home-element-sub-flex
              p.trending-home-element-sub-date Nov 8
              p.trending-home-element-sub-read-time 17 min read
      .trending-home-element